@font-face {
  font-family: "iconfont"; /* Project id 3752670 */
  src: url('iconfont.woff2?t=1667710449210') format('woff2'),
       url('iconfont.woff?t=1667710449210') format('woff'),
       url('iconfont.ttf?t=1667710449210') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu7:before {
  content: "\e60d";
}

.icon-204:before {
  content: "\e61b";
}

.icon-tuichu:before {
  content: "\e74d";
}

.icon-guanbicopy:before {
  content: "\e607";
}

.icon-add-sy:before {
  content: "\e600";
}

.icon-icon_fuben:before {
  content: "\e60a";
}

.icon-icon_huabanfuben:before {
  content: "\e621";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-yuanxingxuanzhong:before {
  content: "\e731";
}

.icon-fangxingweixuanzhong:before {
  content: "\e648";
}

.icon-fangxingxuanzhong:before {
  content: "\e649";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-shuaxin:before {
  content: "\e68c";
}

.icon-fanhui2:before {
  content: "\e623";
}

.icon-shangchuan1:before {
  content: "\e665";
}

.icon-folder-close:before {
  content: "\e604";
}

.icon-shanchu1:before {
  content: "\e676";
}

.icon-shouye2:before {
  content: "\e8b9";
}

.icon-shangla:before {
  content: "\e797";
}

.icon-xiala:before {
  content: "\e799";
}

.icon-zuobian:before {
  content: "\e79a";
}

.icon-youbian:before {
  content: "\e79b";
}

.icon-wenhao:before {
  content: "\e671";
}

.icon-wenjian7:before {
  content: "\e63a";
}

